.container
  .col-md-4.failed-charges
    %h1 Failed Charges
    - Charge.failed.each do |charge|
      .row.transaction
        = render partial: 'charge_list', locals:{ charge: charge }
  .col-md-4.disputed-charges
    %h1 Disputed Charges
    - Charge.disputed.each do |charge|
      .row.transaction
        = render partial: 'charge_list', locals:{ charge: charge }
  .col-md-4.succed-charges
    %h1 Successful Charges
    - Charge.succeed.each do |charge|
      .row.transaction
        = render partial: 'charge_list', locals:{ charge: charge }    
